<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>429788A8-A25D-4B3E-BBFB-83E8B9729D3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E10373F-F835-4A0E-8608-7C1995FAD40F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F430C62-3EE7-4727-A0FB-CC15DB9ADAC2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB13D1FB-DE20-44E4-9171-D95522DB8A92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E10373F-F835-4A0E-8608-7C1995FAD40F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F430C62-3EE7-4727-A0FB-CC15DB9ADAC2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AAAA6086-0D77-4CD3-B74B-C034FABF282A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>429788A8-A25D-4B3E-BBFB-83E8B9729D3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BB13D1FB-DE20-44E4-9171-D95522DB8A92</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D84E3A06-4A3C-4138-AAA7-EF39AFC92361</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Searches</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>chat</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search ChatGPT</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AAAA6086-0D77-4CD3-B74B-C034FABF282A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://chat.openai.com/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8E10373F-F835-4A0E-8608-7C1995FAD40F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>search_text</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>429788A8-A25D-4B3E-BBFB-83E8B9729D3D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{var:search_text}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>BB13D1FB-DE20-44E4-9171-D95522DB8A92</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>↩</string>
				<key>keycode</key>
				<integer>36</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>D84E3A06-4A3C-4138-AAA7-EF39AFC92361</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>7F430C62-3EE7-4727-A0FB-CC15DB9ADAC2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>429788A8-A25D-4B3E-BBFB-83E8B9729D3D</key>
		<dict>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>7F430C62-3EE7-4727-A0FB-CC15DB9ADAC2</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>8E10373F-F835-4A0E-8608-7C1995FAD40F</key>
		<dict>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>AAAA6086-0D77-4CD3-B74B-C034FABF282A</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>BB13D1FB-DE20-44E4-9171-D95522DB8A92</key>
		<dict>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>D84E3A06-4A3C-4138-AAA7-EF39AFC92361</key>
		<dict>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
