<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>085FC03C-47DC-42B9-873C-11BDD1D77338</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92E87A80-EF80-4265-A4C2-07272227DE90</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1E1E9EB2-09D0-4CB3-A819-B725C179804E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9DE333BA-5244-4D4F-841D-04E3D2148B77</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1EED165C-5CF1-4105-BA57-68E29BF98704</key>
		<array/>
		<key>2C65EF0D-5CBF-41C4-88D2-BC6A923716CC</key>
		<array/>
		<key>3AF74B4E-10CC-4D31-A9C4-B90C16CDDF7E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8168924-01D8-4B6A-A4E1-0E11B5A8BAE6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>419141A2-E260-45D8-9F8B-035AD785A44D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F3D7AE1-AF26-4BA1-A0C7-CF17BD8128F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4AA81994-4369-44B8-9F43-40005CAC930D</key>
		<array/>
		<key>8E9BB25F-0383-4E53-973D-0603970FF13B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36658C9A-559F-4333-984F-335CD271F577</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BCBB742E-3587-4216-91AF-37FA66B03AE5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A1C60C6-2466-4E44-A86D-19D6708023EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BEED77B9-B041-4E1A-AA7E-3E81AF86ED8A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1A67ACC-DCE2-40FF-8460-DA71833038A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CA0180AC-3B94-449A-9A6A-94F75B0295B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F87797C-73AC-43CA-A7EF-8B816AEE6D1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>*Hotkeys</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/System/Applications/System Settings.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>36658C9A-559F-4333-984F-335CD271F577</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>393216</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8E9BB25F-0383-4E53-973D-0603970FF13B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/System/Applications/Music.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>4F87797C-73AC-43CA-A7EF-8B816AEE6D1E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>7</integer>
				<key>hotmod</key>
				<integer>393216</integer>
				<key>hotstring</key>
				<string>X</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CA0180AC-3B94-449A-9A6A-94F75B0295B6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>14</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>E</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>2C65EF0D-5CBF-41C4-88D2-BC6A923716CC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>~/Dropbox/TomCraig</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>2710E078-A579-4F8D-B2FE-9912CFF41CE7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/System/Applications/Mail.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>9F3D7AE1-AF26-4BA1-A0C7-CF17BD8128F0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>46</integer>
				<key>hotmod</key>
				<integer>393216</integer>
				<key>hotstring</key>
				<string>M</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>419141A2-E260-45D8-9F8B-035AD785A44D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>8</integer>
				<key>hotmod</key>
				<integer>393216</integer>
				<key>hotstring</key>
				<string>C</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>085FC03C-47DC-42B9-873C-11BDD1D77338</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Fantastical.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>92E87A80-EF80-4265-A4C2-07272227DE90</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Brave Browser.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>1D89BCB1-62CC-40F2-A52F-86E90A466C4C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>3</integer>
				<key>hotmod</key>
				<integer>393216</integer>
				<key>hotstring</key>
				<string>F</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4AA81994-4369-44B8-9F43-40005CAC930D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>5</integer>
				<key>hotmod</key>
				<integer>393216</integer>
				<key>hotstring</key>
				<string>G</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1E1E9EB2-09D0-4CB3-A819-B725C179804E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/System/Library/CoreServices/Finder.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>9DE333BA-5244-4D4F-841D-04E3D2148B77</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>14</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>E</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>BEED77B9-B041-4E1A-AA7E-3E81AF86ED8A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
tell application "System Events"	tell dock preferences to set autohide menu bar to not autohide menu barend tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>C1A67ACC-DCE2-40FF-8460-DA71833038A4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)

tell application "System Events"	set activeApp to name of first application process whose frontmost is trueend telltell application "Google Chrome" to activatetell application "System Events" to keystroke "d" using command downtell application activeApp to activate


end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>3A1C60C6-2466-4E44-A86D-19D6708023EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>45</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>N</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>BCBB742E-3587-4216-91AF-37FA66B03AE5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F8168924-01D8-4B6A-A4E1-0E11B5A8BAE6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>46</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>M</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1EED165C-5CF1-4105-BA57-68E29BF98704</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)

set volumeSettings to (get volume settings)set inputVolume to input volume of volumeSettingsif inputVolume = 0 then	set volume input volume 100
	return "Unmuted (input 100%)"else	set volume input volume 0
	return "Muted (input 0%)"end if


end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>3AF74B4E-10CC-4D31-A9C4-B90C16CDDF7E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>085FC03C-47DC-42B9-873C-11BDD1D77338</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>1D89BCB1-62CC-40F2-A52F-86E90A466C4C</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>1E1E9EB2-09D0-4CB3-A819-B725C179804E</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>730</integer>
		</dict>
		<key>1EED165C-5CF1-4105-BA57-68E29BF98704</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>1085</integer>
		</dict>
		<key>2710E078-A579-4F8D-B2FE-9912CFF41CE7</key>
		<dict>
			<key>note</key>
			<string>replace with applescript that checks if finder active/open and window open</string>
			<key>xpos</key>
			<integer>455</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>2C65EF0D-5CBF-41C4-88D2-BC6A923716CC</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>36658C9A-559F-4333-984F-335CD271F577</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>3A1C60C6-2466-4E44-A86D-19D6708023EC</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>965</integer>
		</dict>
		<key>3AF74B4E-10CC-4D31-A9C4-B90C16CDDF7E</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>1085</integer>
		</dict>
		<key>419141A2-E260-45D8-9F8B-035AD785A44D</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>4AA81994-4369-44B8-9F43-40005CAC930D</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>4F87797C-73AC-43CA-A7EF-8B816AEE6D1E</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>8E9BB25F-0383-4E53-973D-0603970FF13B</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>92E87A80-EF80-4265-A4C2-07272227DE90</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>9DE333BA-5244-4D4F-841D-04E3D2148B77</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>730</integer>
		</dict>
		<key>9F3D7AE1-AF26-4BA1-A0C7-CF17BD8128F0</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>BCBB742E-3587-4216-91AF-37FA66B03AE5</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>965</integer>
		</dict>
		<key>BEED77B9-B041-4E1A-AA7E-3E81AF86ED8A</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>845</integer>
		</dict>
		<key>C1A67ACC-DCE2-40FF-8460-DA71833038A4</key>
		<dict>
			<key>xpos</key>
			<integer>465</integer>
			<key>ypos</key>
			<integer>845</integer>
		</dict>
		<key>CA0180AC-3B94-449A-9A6A-94F75B0295B6</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>F8168924-01D8-4B6A-A4E1-0E11B5A8BAE6</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>1085</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
