<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>147DEF7F-B2BC-46F2-A0E2-0C355F152308</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>hn</string>
			<key>text</key>
			<string>Hacker News</string>
			<key>url</key>
			<string>https://www.google.com/search?&amp;q=news.ycombinator.com:%20{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>28EAF671-05DD-4556-826B-786677559CA3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>shd</string>
			<key>text</key>
			<string>Open Shadow Ticket</string>
			<key>url</key>
			<string>https://ayadev.atlassian.net/browse/SHD-{query}</string>
		</dict>
		<key>2A5AB044-22DA-4992-9DF0-131CFDD9C3FD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>reddit</string>
			<key>text</key>
			<string>Search Reddit</string>
			<key>url</key>
			<string>https://www.google.com/search?&amp;q=reddit.com:%20{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8DCA268A-DAD8-4C0C-9DD2-C4A7B45037C2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mcz</string>
			<key>text</key>
			<string>Open MCZ Jira Ticket</string>
			<key>url</key>
			<string>https://ayadev.atlassian.net/browse/MCZ-{query}</string>
		</dict>
		<key>9CFEC4D2-392C-4320-AE10-DF0E3E879E57</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>yelp</string>
			<key>text</key>
			<string>Yelp</string>
			<key>url</key>
			<string>https://www.yelp.com/search?find_desc={query}</string>
		</dict>
		<key>C9B57951-B589-4064-AFCA-A89BCAB13611</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>win</string>
			<key>text</key>
			<string>Open WIN Jira Ticket</string>
			<key>url</key>
			<string>https://ayadev.atlassian.net/browse/WIN-{query}</string>
		</dict>
		<key>D94C8145-3608-47D0-A80E-78DB6EB0093F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gmap</string>
			<key>text</key>
			<string>Google Maps search</string>
			<key>url</key>
			<string>https://www.google.com/maps/place/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E8FB3106-B092-4816-9191-0250C000C1BE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>diff</string>
			<key>text</key>
			<string>Diff Code</string>
			<key>url</key>
			<string>https://www.diffchecker.com/diff</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
