<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>062E8478-FA6E-499B-91A9-499396DF8D2A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A6DD4A29-12B6-4C57-B683-792C26059FCE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E1E853A9-4840-4D94-B16E-C2703FB5DBC7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>323C5113-5D2B-43D5-B8DE-7B16018BE991</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>High Time</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ht</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>It's High Time Weedid Dis</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>062E8478-FA6E-499B-91A9-499396DF8D2A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Brightness: {query}%</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9F0F544F-30D5-4234-8726-8CC54149603B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
tell application "System Preferences"	--activate	set current pane to pane "com.apple.preference.displays"end telltell application "System Events" to tell process "System Preferences"		tell radio button "Display" of tab group 1 of window 1 to if value is 0 then		repeat until value is 1			click		end repeat	end if			tell slider 1 of tab group 1 of window 1 to set value to 0.2end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>324763F5-EA03-4F36-A6E4-2139A0F7835E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=10
if [[ -z $query ]]
then
  query=100
elif [[ $query -lt 10 &amp;&amp; $query -gt 0 ]]
then
  query=$(( $query * 10 ))
fi
/usr/local/bin/brightness $(printf "%03.2f" $(/usr/bin/bc &lt;&lt;&lt; "scale=2; ${query}/100"))
echo -n $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E1A3AFD3-763A-42A0-BACC-2AA720D39BF3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "System Events"
		tell appearance preferences to set dark mode to true
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>A6DD4A29-12B6-4C57-B683-792C26059FCE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>hto</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>No More High Time</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E1E853A9-4840-4D94-B16E-C2703FB5DBC7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "System Events"
		tell appearance preferences to set dark mode to true
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>323C5113-5D2B-43D5-B8DE-7B16018BE991</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>062E8478-FA6E-499B-91A9-499396DF8D2A</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>323C5113-5D2B-43D5-B8DE-7B16018BE991</key>
		<dict>
			<key>note</key>
			<string>Turn OFF Dark Mode (goes to auto)</string>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>324763F5-EA03-4F36-A6E4-2139A0F7835E</key>
		<dict>
			<key>note</key>
			<string>Set Display Brightness to 20%</string>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>9F0F544F-30D5-4234-8726-8CC54149603B</key>
		<dict>
			<key>xpos</key>
			<integer>745</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>A6DD4A29-12B6-4C57-B683-792C26059FCE</key>
		<dict>
			<key>note</key>
			<string>Turn ON Dark Mode</string>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>E1A3AFD3-763A-42A0-BACC-2AA720D39BF3</key>
		<dict>
			<key>xpos</key>
			<integer>695</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>E1E853A9-4840-4D94-B16E-C2703FB5DBC7</key>
		<dict>
			<key>xpos</key>
			<integer>15</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
