<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>1125157A-D37A-4D12-BCD4-9857DE708315</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A4E477FC-E607-43A6-9D7A-CB47DC203EF2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>36252470-9513-4A9D-93C2-084111746B24</key>
		<array/>
		<key>40972390-DF59-4AB9-B53D-DF0B59BDA869</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB5DCA93-8D2F-45E2-ADE9-52DCC055EA78</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5351F56A-A1BC-47DD-BAF7-6D9A73339AB1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5351F56A-A1BC-47DD-BAF7-6D9A73339AB1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ECE2DDDF-1BE3-4DAD-9346-F960E9F94D9D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>56BE2E53-FDB1-496A-8648-BE03287232BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8801E1E-B7A7-4095-9EA6-8DC117676E1C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>783CD437-9F28-430D-97B7-6B18035FBEFE</key>
		<array/>
		<key>B273B7AA-1C9D-4DB1-A2B5-E97C2065459F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C745A24D-17F6-48E1-8472-E9FF20FB1DAA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BBD0A502-1F35-4E89-900E-1AB034517D44</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CCDC9C6F-1509-4EF8-BCDE-051F07647D6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C745A24D-17F6-48E1-8472-E9FF20FB1DAA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1125157A-D37A-4D12-BCD4-9857DE708315</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CCDC9C6F-1509-4EF8-BCDE-051F07647D6F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F47854F9-3406-40D8-BC15-69AFEEF15944</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ECE2DDDF-1BE3-4DAD-9346-F960E9F94D9D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBD0A502-1F35-4E89-900E-1AB034517D44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F47854F9-3406-40D8-BC15-69AFEEF15944</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>551C6576-15BE-49C4-A07C-426554C33796</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>*Wiki</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://app.gitbook.com/@thetomcraig/s/workspace/?q=%22{query}%22</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C8801E1E-B7A7-4095-9EA6-8DC117676E1C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>qq</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Remote Search the Wiki</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>56BE2E53-FDB1-496A-8648-BE03287232BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>aa</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Append to a file in the wiki</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B273B7AA-1C9D-4DB1-A2B5-E97C2065459F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{var:input} recorded!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A4E477FC-E607-43A6-9D7A-CB47DC203EF2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/bash
  file="/Users/tom/Dropbox/TomCraig/Notes/miscellaneous-references.md"
  text="${1}"
  echo "- ${text}" &gt;&gt; "${file}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1125157A-D37A-4D12-BCD4-9857DE708315</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>input</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C745A24D-17F6-48E1-8472-E9FF20FB1DAA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>340220CF-23AF-4E43-B86B-1FD63578C48A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/bash

day_due="{query}"
if [[ "${day_due}" == 'today' ]]; then
  echo "0"
elif [[ "${day_due}" == 'tomorrow' ]]; then
  echo "1"
elif [[ "${day_due}" == 'next_monday' ]]; then
  next_monday=$(gdate -d 'this Monday' '+%s')
  today=$(date -d 'today' '+%s')
  echo $(( ($next_monday-$today) / ( 60*60*24) ))
elif [[ "${day_due}" == 'this_weekend' ]]; then
  this_weekend=""

  this_saturday=$(gdate -d 'this Saturday' '+%s')
  this_sunday=$(gdate -d 'this Sunday' '+%s')

  if [[ today == this_saturday ]]; then
    this_weekend="${this_sunday}"
  elif [[ today == this_sunday ]]; then
    this_weekend="${this_sunday}"
  else
    this_weekend="${this_saturday}"
  fi
  echo $(( ($this_weekend-$today) / ( 60*60*24) ))
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>783CD437-9F28-430D-97B7-6B18035FBEFE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>64512470-C82E-46DA-9465-3363A9091083</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>nn</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Go to Notes</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>40972390-DF59-4AB9-B53D-DF0B59BDA869</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>iterm_window</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>com.miromannino.new-terminal-window</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>AB5DCA93-8D2F-45E2-ADE9-52DCC055EA78</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>↩</string>
				<key>keycode</key>
				<integer>36</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>CCDC9C6F-1509-4EF8-BCDE-051F07647D6F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>notes</string>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>ECE2DDDF-1BE3-4DAD-9346-F960E9F94D9D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>↩</string>
				<key>keycode</key>
				<integer>36</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>551C6576-15BE-49C4-A07C-426554C33796</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>.5</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>BBD0A502-1F35-4E89-900E-1AB034517D44</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>.5</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>F47854F9-3406-40D8-BC15-69AFEEF15944</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>5351F56A-A1BC-47DD-BAF7-6D9A73339AB1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hh</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string></string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4F254711-381E-40DA-AF7D-D7DE469EA3D3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>4</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>H</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>36252470-9513-4A9D-93C2-084111746B24</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1125157A-D37A-4D12-BCD4-9857DE708315</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>340220CF-23AF-4E43-B86B-1FD63578C48A</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>36252470-9513-4A9D-93C2-084111746B24</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>875</integer>
		</dict>
		<key>40972390-DF59-4AB9-B53D-DF0B59BDA869</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>4F254711-381E-40DA-AF7D-D7DE469EA3D3</key>
		<dict>
			<key>xpos</key>
			<integer>15</integer>
			<key>ypos</key>
			<integer>875</integer>
		</dict>
		<key>5351F56A-A1BC-47DD-BAF7-6D9A73339AB1</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>665</integer>
		</dict>
		<key>551C6576-15BE-49C4-A07C-426554C33796</key>
		<dict>
			<key>xpos</key>
			<integer>870</integer>
			<key>ypos</key>
			<integer>635</integer>
		</dict>
		<key>56BE2E53-FDB1-496A-8648-BE03287232BC</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>64512470-C82E-46DA-9465-3363A9091083</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>655</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>783CD437-9F28-430D-97B7-6B18035FBEFE</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>815</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>A4E477FC-E607-43A6-9D7A-CB47DC203EF2</key>
		<dict>
			<key>xpos</key>
			<integer>555</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>AB5DCA93-8D2F-45E2-ADE9-52DCC055EA78</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>B273B7AA-1C9D-4DB1-A2B5-E97C2065459F</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>BBD0A502-1F35-4E89-900E-1AB034517D44</key>
		<dict>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>665</integer>
		</dict>
		<key>C745A24D-17F6-48E1-8472-E9FF20FB1DAA</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>C8801E1E-B7A7-4095-9EA6-8DC117676E1C</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>CCDC9C6F-1509-4EF8-BCDE-051F07647D6F</key>
		<dict>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>635</integer>
		</dict>
		<key>ECE2DDDF-1BE3-4DAD-9346-F960E9F94D9D</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>635</integer>
		</dict>
		<key>F47854F9-3406-40D8-BC15-69AFEEF15944</key>
		<dict>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>665</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
